/* 모바일용 CSS - 320px */
/* 공통 */
.inner{
  width: 1024px;
  margin: 0 auto;
  position: relative;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.hide {
  font-size: 0;
}
.tit{
  font-size: 24px;
  color: #000;
  font-weight: bolder;
}

/* MO - HEADER */
header { 
  display: flex;
  justify-content: center;
  align-items: center;
}
header .inner {
  height: 85px;
  height: 5.131rem;
}
header .inner img{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .inner .main-menu,
header .inner .sub-manu{
  display: none;
}
header .inner .manu-btn{
  position: absolute;
  right: 8%;
  top: 50%;
}
header .inner .manu-btn img{
  height: 25px;
  width: 35px;
}

/* MO - VISUAL ----------------여기-------------*/
.visual .swiper-container .swiper-slide {
  align-items: center;
}
.visual .swiper-container .swiper-slide a img {
  width: 100%;
  margin: 0 auto;
}
.visual .swiper-container .swiper-prev,
.visual .swiper-container .swiper-next { 
 display: none;
}


/* PC용 CSS - 1024px*/
@media all and (min-width:1024px){

  /* 공통 */

  /* PC - HEADER */
  header .inner img{
    left: 10%;
  }
  header .inner .main-menu {
    display: inline-flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  header .inner .main-menu li a{
    width: 100px;
    display: block;
    text-align: center;
  
  }
  header .inner .main-menu li a span {
    position: relative;
    color: #000;
    font-size: 19px;
    font-weight: bold;
  }
  header .inner .main-menu li a span:nth-child(1) {
   
  }
  header .inner .main-menu li a span:nth-child(2) {
    font-size: 0;
  }
  header .inner .main-menu li a:hover span:nth-child(1) {
    font-size: 0;
  }
  header .inner .main-menu li a:hover span:nth-child(2) {
    font-size: 19px;
  }

  header .inner .sub-manu {
    display: inline-flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  header .inner .sub-manu li {
    padding: 0 10px;
    font-size: 13px;
  }
  header .inner .sub-manu li::after{
    content: "";
    background-color: #ddd;
    width: 1px;
    height: 12px;
    display: inline-block;
    position: relative;
    left: 10px;
  }
  header .inner .sub-manu li:last-child::after{
    display: none;
  }
  header .inner .manu-btn{
    display: none;
  }

/* PC - VISUAL ----------------여기 ------------- */


.visual .swiper-container .swiper-prev,
.visual .swiper-container .swiper-next { 
  width: 50px;
  height: 50px;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visual .swiper-container .swiper-next { 
  right: 0;
}
.visual .swiper-container .login {
  position: absolute;
  top: -700px;
  /* transform: translateY(700%); */
  left: 70%;
  z-index: 999;
  box-sizing: border-box;
  width: 382px;
  height: 454px;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
  padding: 40px 40px ;
}

.visual .swiper-container .login img{
  position: absolute;
  margin: 17px 0;
}
.visual .swiper-container .login .login-input {
  height: 127px;
}
.visual .swiper-container .login .login-input .id ,
.visual .swiper-container .login .login-input .fw {
  height: 55px;
  border-bottom:1px solid #ddd;
}
.visual .swiper-container .login .login-input .id input,
.visual .swiper-container .login .login-input .fw input{
  box-sizing: border-box;
  margin-left: 30px;
  border: none;
  width: 270px;
  height: 55px;
}
.visual .swiper-container .login .login-input .fw{
  margin-top: 15px;
}
.visual .swiper-container .login .save-id {
  font-size: 20px;
  margin: 20px 0;
}
.visual .swiper-container .login .save-id input{
  margin-right: 10px;
  width: 19px;
  height: 19px
}
.visual .swiper-container .login .login-btn {
  height: 127px;
}
.visual .swiper-container .login .login-btn .login-btn-login,
.visual .swiper-container .login .login-btn .login-signup{
  box-sizing: border-box;
  padding: 22px 0;
  height: 60px;
  text-align: center;
}
.visual .swiper-container .login .login-btn .login-btn-login {
  background-color: #143d6c;
}
.visual .swiper-container .login .login-btn .login-signup{
  background-color: #555;
  margin-top: 10px;
}
  .visual .swiper-container .login .login-btn .login-btn-login a,
  .visual .swiper-container .login .login-btn .login-signup a {
    color: #fff;
}
.visual .swiper-container .login .find {
  text-align: center;
  margin: 20px 0;
}
.visual .swiper-container .login .find a {
  color: #333;
}
.visual .swiper-container .login .find a:first-child{
  padding-right: 15px;
}
.visual .swiper-container .login .find a:first-child::before {
  content: "";
  background-color: #ddd;
  width: 1px;
  height: 12px;
  display: inline-block;
  position: relative;
  left: 10px;
}
}